[binaries]
c = 'x86_64-w64-mingw32.static-gcc'
cpp = 'x86_64-w64-mingw32.static-g++'
ld = 'x86_64-w64-mingw32.static-g++'
addr2line = 'x86_64-w64-mingw32.static-addr2line'
ar = 'x86_64-w64-mingw32.static-ar'
elfedit = 'x86_64-w64-mingw32.static-elfedit'
objcopy = 'x86_64-w64-mingw32.static-objcopy'
objdump = 'x86_64-w64-mingw32.static-objdump'
ranlib = 'x86_64-w64-mingw32.static-ranlib'
readelf = 'x86_64-w64-mingw32.static-readelf'
strip = 'x86_64-w64-mingw32.static-strip'
pkgconfig = 'x86_64-w64-mingw32.static-pkg-config'

[properties]
cpp_link_args = [
  '-lws2_32',
  '-lwsock32']

[host_machine]
system = 'windows'
cpu_family = 'x86'
cpu = 'x86_64'
endian = 'little'
